// ---------------------------------------------------------------
//
//  Variables
//
// ---------------------------------------------------------------


// Colors

$brand_yellow: #1387df; //
$brand_green: #8CBD86;
$brand_green_alternative: #689860;
$brand_brown: #41311A;
$brand_beige: ghostwhite; //
$brand_white: #FFF;
$brand_orange: #ffab3f; //
$brand_blue: #87A6AE;
$brand-grey: #C3BFB1;
$brand-violet: #a586bb;
$brand_coal: #666666;

$font_color: $brand_brown;


$brand_core_family: #af1d3f;
$brand_core_family_lightened: #D1768A;
$brand_core_refugees: #1387df; //
$brand_core_refugees_lightened: #36a6fa; //


// Geometry

$border_radius: 0;

// Sizes
$base_font_size: 16px;

// Transparency
$hero_transparency: 0.85;
